name: fast_food_app
description: "App de comida rápida"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  flutter_localizations:
    sdk: flutter

  provider: ^6.1.2
  supabase_flutter: ^2.5.6
  flutter_dotenv: ^5.1.0
  http: ^1.2.2

  # Para subir imágenes desde galería (empleado)
  image_picker: ^1.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - .env
    - assets/images/
